*{
    margin: 0;   
}
body{
    font-family: 'Oswald', sans-serif;
}

.header{
    background-image: url(/images/donation6.jpg);
    background-repeat: no-repeat;
    height: 394px;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: aliceblue;
   
    
}
h1{
    font-size: 50px;
    font-weight: bold;
    padding: 20px 10px;
    
}
p{
    padding-bottom: 10px;
    font-size: 20px;
    word-wrap: break-word;
    
}
button{
  text-align: center;
  font-size: 20px;
  background-color: coral;
  font-weight: bold;
  border: none;
  color: aliceblue;
  border-radius: 12px;
  padding: 8px;
  margin: 10px;
}

.donateToday,h2,p{
    text-align: center;
    padding-top: 10px;
}
h2{
    font-size: 30px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-left: 400px;
   
}
li{
    border: 2px; 
    width: 10%; 
    height: 100px;
    margin: 10px;
    background-color: antiquewhite;
    border-style: none;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
      
}
#BorderSec{
    border-style: solid;
}
.thirdSec{
    width: 70%;
    padding-left: 200px;
}
.donatePlan{
    display: flex;
}
.half-width{
    width: 30%;
    height: auto;
    padding: 20px 20px;
    background-color: bisque;
    margin: 20px;
}
.banner{
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat;
    height: 394px;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}
.banner h1{
    text-align: end;
}
.banner-button{
    display: inline;
    float: right;
    
}

